<nav class="navbar navbar-expand-lg navbar-dark nav-bg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"> </span> Menú
      </button>
    <ul class="collapse navbar-collapse mr-auto mt-2 mt-lg-0" id="navbarSupportedContent">
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-home"></i> Inicio</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/categories-list"><i class="fas fa-charging-station"></i> Categorías</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-heart"></i> Lista de Deseos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-user"></i> Mi Cuenta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i> Carrito</a>
      </li>
    </ul>
    <div class="cart d-none d-md-block">
        <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i> 0 Item(s)</a>
    </div>
    <!-- <form class="form-inline my-0 my-lg-0">        
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
  </nav>
