
<div class="list-group mt-4">
  <span href="#" class="list-group-item">
    <h6>Más Vendido</h6>
  </span>
</div>

<div class="card bg-light mb-12 mt-4">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <img [src]="product.thumbnailUrl" [alt]="product.title" class="img-thumbnail">
      </div>
      <div class="col-md-8">
        <h5 class="price">{{product.price | currency : 'USD' : 'symbol' : '1.0'}}</h5>
        <p class="card-text">{{product.title}}</p>
        <div *ngFor="let number of [1,2,3,4,5]" class="d-inline">
          <div *ngIf="number <= product.score; else elseBlock" class="d-inline">
            <i class="fas fa-star"></i>
          </div>
          <ng-template #elseBlock>
            <i class="far fa-star"></i>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
<br />